[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization.git
	branch = dr_aa
[submodule "SIBR_viewers"]
	path = SIBR_viewers
	url = https://gitlab.inria.fr/sibr/sibr_core.git
[submodule "submodules/fused-ssim"]
	path = submodules/fused-ssim
	url = https://github.com/rahul-goel/fused-ssim.git
[submodule "third_party/feature-3dgs"]
	path = third_party/feature-3dgs
	url = https://github.com/ShijieZhou-UCLA/feature-3dgs.git
[submodule "third_party/dinov3"]
	path = third_party/dinov3
	url = https://github.com/facebookresearch/dinov3.git
[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "third_party/JAFAR"]
	path = third_party/JAFAR
	url = https://github.com/PaulCouairon/JAFAR.git
